name: base
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD-root}
      MYSQL_USER: user
      MYSQL_PASSWORD: user
      MYSQL_DATABASE: mql_db
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10
    volumes:
      - ./data/mysql:/var/lib/mysql
      # - ./shopping.sql:/docker-entrypoint-initdb.d/shopping.sql
      # docker exec -it <id> mysqldump -u root -proot mql_db > shopping.sql
